# fly.toml app configuration file generated for astrogematria-fastapi on 2025-12-28T23:05:58Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'astrogematria-fastapi'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8004
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
